body{
  border: 1px solid red;  
  margin: 30px;
  font-style: "poppins";}

/*header styling*/
h2{
  display: inline; 
  font-weight: 800; 
  font-style: italic;}
span{
  color: yellow;}

h4{
  display: inline;
  float: right;
  margin: 50px;}

/* section 2 styling
div.cont{
  width: 50;  
 
}

div.right{
  float: right;  
  background-color: aquamarine;  
  
}
div.left{
  float: right;  
  background-color: hotpink;*/

/*section 3 styling*/
.one{
  float: left;
  border: 1px solid brown;
}
.two{
  float: right;
  border: 1px solid brown;
}
.three{
  float: right;
  border: 1px solid brown;
  
}

  
}
