body{
   
  margin: 30px;
  font-style: "poppins";
  border: 1px solid black;  

}
  

/*header styling*/
div.yellow{
    height: 230vh;
  /*background:linear-gradient(105deg white 25% yellow 25% ) */
  }

div.header{
  display: flex; 
}

div.top{
  float: left;
}
h2{
 

  display: inline; 
  font-weight: 800; 
  font-style: italic;}
span{
  color: yellow;}
div.inline{
  display: inline;
  float: left;
  margin-top: 3%;
  margin-left: 40%;
  
}

h4{
  display: inline;  
  margin: 50px;}
 

/* section 1 styling*/
div.cont{
  display: flex;
  width: 100%;   
}

div.right{
  float: left;  
  width: 50%; 
  padding-right: 10%;  
}
div.left{
  float: left; 
  width: 50%; 
  padding-top: 20%;
  padding-left: 5%;}
 
.separate{
  padding-bottom: 5%;  
}


/*section 2 styling*/
.cont2{
  text-align: center;
  display: flex;
  background-color: #eff7f6;  
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  
}

.one{
  float: left;
  border: 1px solid black;
  width: 33.3%;  
  margin: 20px; 
  border-radius: 5%;
}
.two{
  float: left;
  border: 1px solid black;
  width: 33.30%;
  margin: 5;
  border-radius: 5%;
  
}
.three{
  float: right;
  border: 1px solid black;
  width: 33.3%;
     margin: 20px; 
  border-radius: 5%; 
  
}
/*section 3 styling*/

.title{
  font-weight: 800;
   margin: 20px;
  padding: 20px;
  text-align: center;
  
 }

.cont3{  
  text-align: center;
  display: flex;
}
 
.menu1{
  float: left;
  border: 1px solid black;
  width: 33.3%; 
  margin-left: 20px; 
  border-radius: 5%; 
 
   
}

.menu2{
  float: left;
  border: 1px solid black;
  width: 33.3%;
  margin: 20px; 
  border-radius: 5%;  
  
   
}

.menu3{
  float: right;
  border: 1px solid black;
  width: 33.3%;
  margin: 20px; 
  border-radius: 5%;
   
  }

  .cont4{  
    text-align: center;
    display: flex;
  }
   
  .menu4{
    float: left;
    border: 1px solid black;
    width: 33.3%; 
    margin: 20px; 
  border-radius: 5%; 
    
  }
  
  .menu5{
    float: left;
    border: 1px solid black;
    width: 33.3%; 
    margin: 20px; 
  border-radius: 5%; 
     
  }
  
  .menu6{
    float: right;
    border: 1px solid black;
    width: 33.3%;
    margin: 20px; 
  border-radius: 5%;
      
    }

/*NB:::::section 4 double decker styling*/    
div.cont4{
  display: flex;
  border: 1px solid black; 
  width: 100%; 
}

div.right{ 
  float: left; 
  margin-right: 20px; 
  border: 1px solid black;

  
}
div.left{
  float: left;  
  border: 1px solid black;
}
  

.separate{
  padding-bottom: 50%;
  padding-top: 30%;
}
/*




/*section 5 apps mobile styling*/
.cont5{
  text-align: center;
  display: flex;
  background-color: rgb(243, 172, 19)  
}
.apps1{
  float: left; 
  width: 60%;  
  margin-right: 0px; 
  padding-top: 100px;  
}
div.space{
  padding-bottom: 0px;
}
#white{
  background-color: white;
}


.apps2{
  float: left;  
  width: 20%;
  margin-right: 0%; 
  padding-left: 100px;
  
}

.apps3{
  float: right;  
  width: 20%;
  margin-left: 0%;  
  padding-right: 100px;
}

/* Bottom section styling*/
.bottom{  
  display: flex;
  background-color: #eff7f6;  
}

.logo{
  text-align: left;
  float: left; 
  width: 33.3%;  
  margin-right: 0px;
  padding-top: 50px;
  
}
.sitemap{
  text-align: left;
  float: left;
  width: 33.30%;
  margin-right: 0%; 
}
.a{
  display: flex;
}
.email{
  border: 1px solid black;
  padding-right: 100px;
}
/*footer styling*/
.footer{
  display: flex;
  margin-top: 50px;
}
.x{
  float: left;
  width: 33.3%;  
  margin-right: 0px;
  text-align: center;
  
}
.y{
  float: left;
  width: 33.30%;
  margin-right: 0%; 
  text-align: center;}

.z{
  float: right;
  width: 33.3%;
  margin-left: 0%; 
  text-align: center;}
   
  

  

